<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="L2S_Joins.Properties.Settings.L2S_DataStoreConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=L2S-DataStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>